body {
    /* background-color:#e5131345; */
    font-family: Verdana, sans-serif;
    background-image: url("phone.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 800px;
}

img {
    width: 800px;
    max-height: 100%; 
    max-width: 100%;
}

.content_area {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 700px;
    margin-right: 715px;
    text-align: center;
    background-image: url(scotty.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}

h1 {
    padding: 20px;
}

.thingy {
    background-color:white;
    width: 120vh;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto;
    font-family: Verdana, sans-serif;
}

.info {
    text-align: left;
    font-weight: bold;
    padding-bottom: 20px;
}

p {
    padding: 12px;
    margin: 24px 0px;
    border-style: solid;
    border-radius: 25px;
    border-color: #e11212;
}

.button, .button-bg {
    cursor: pointer;
    width: 200px;
    height: 54px;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: black;
    border-radius: 25px;
    font-family: Verdana, sans-serif;
}

.button .button-bg {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
}
